body {
    font-family: Arial, sans-serif;
    color: #2c3e50;
    margin: 0
}
.container {
    width: 700px;
    margin: 0 auto;
    max-width: 100%
}
#main-container {
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    position: relative
}
#nav {
    padding: 10px 0;
    width: 100%;
    background: #f5f5f5;
    box-shadow: 0 1px 3px #ccc;
    height: 30px;
    overflow: hidden
}
#app-name {
    text-transform: uppercase;
    margin: 5px 10px;
    float: left
}
#app-name span {
    color: #e74c3c;
    font-size: 10px
}
#options {
    float: right;
    margin-right: 10px
}
#options img {
    margin: 0 0 0 15px
}
span.sup {
    vertical-align: super
}
span#minutes,
span.bold {
    font-weight: 700
}
span#remaining {
    font-size: 12px;
    text-transform: uppercase
}
#current-class,
#next-class {
    text-transform: uppercase;
    width: 90%;
    margin: 10px auto
}
#routine {
    overflow: hidden;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    height: auto
}
.day {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #3498db;
    padding: 10px 5px 5px
}
.routine-body {
    width: 95%;
    margin: 0 auto 20px
}
.slide-wrapper {
    height: 500px
}
.touchslider-item,
.touchslider-viewport {
    width: 100%
}
.dummy-class {
    width: 100%!important
}
.touchslider-next,
.touchslider-prev {
    position: absolute;
    top: 5px;
    z-index: 300
}
.touchslider-next img,
.touchslider-prev img {
    padding: 5px 0 0
}
.touchslider-prev {
    border-right: 1px solid #3498DB;
    padding: 0 10px;
    left: 0
}
.touchslider-next {
    border-left: 1px solid #3498DB;
    right: 0;
    padding: 0 10px
}
.period {
    padding: 5px 7px;
    border-bottom: 1px solid #ccc;
    position: relative
}
.duration,
.teacher {
    color: #999;
    font-size: 14px
}
.day span {
    border-bottom: 2px solid #3498DB;
    padding: 4px
}
.last {
    border-bottom: 0
}
.room-no {
    position: absolute;
    top: 0;
    right: 5px;
    height: 100%;
    text-transform: uppercase;
    font-size: 12px;
    background: #ccc;
    padding: 5px
}
.routine-body .over {
    background: url(../images/check.png) no-repeat right center;
    height: 100%
}
#about {
    overflow: hidden
}
#about .container {
    margin: 10px;
    width: 680px;
    color: #666
}
#about a.report {
    text-decoration: none;
    color: #3498DB
}
.contributer {
    background: #f5f5f5;
    width: 46%;
    height: 80px;
    float: left;
    overflow: hidden;
    box-shadow: 1px 1px 2px #ccc;
    margin: 2%;
    max-width: 100%
}
.contributer .img-container img {
    height: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    background: #fff
}
.img-container {
    position: relative;
    top: 50%;
    margin-top: -25px;
    margin-left: 10px;
    float: left
}
.intro {
    position: relative;
    float: left;
    height: 100%;
    vertical-align: middle;
    left: 20px;
    top: .8em
}
.intro .field {
    font-style: italic;
    font-size: 12px
}
.intro .link a {
    color: #2C3E50;
    font-size: 12px;
    text-decoration: none
}
#config {
    margin: 10px
}
#form {
    width: 300px;
    margin: 0 auto;
    max-width: 100%
}
#config .label {
    display: block;
    margin: 10px
}
#config select {
    border: 1px solid #ccc;
    float: right;
    width: 60%;
    margin-right: 10px
}
#config label {
    width: 40%;
    text-align: right
}
#config option {
    border: 0;
    margin: 3px 0
}
#config input[type=button] {
    border: 1px solid #ccc;
    padding: 3px;
    position: relative;
    float: right;
    margin-right: 10px
}
#config>#container {
    left: 40px;
    margin-top: 100px;
    position: absolute;
    width: 100%
}
#lastupdate {
    color: #999;
    font-size: 14px
}
#msg {
    background: #34DB77;
    color: #fff
}
#remaining-time {
    background: #3498DB;
    color: #fff;
    box-shadow: 0 2px 2px -2px #333 inset
}
.msg-body {
    padding: 5px 10px
}
.remaining-time-body {
    padding: 7px 10px;
    overflow: hidden
}
#subject {
    float: left;
    margin-right: 10px;
    color: #f5f5f5
}
#time {
    float: left;
    font-weight: 700;
    font-size: 16px
}
#time #hours {
    font-weight: 800
}
#time #minutes {
    font-weight: 700
}
#time #seconds {
    font-weight: 400
}
#footer {
    background: #3498DB
}
#footer .container {
    overflow: hidden;
    color: #fff
}
#footer .container a {
    text-decoration: none;
    float: left;
    color: #fff;
    width: 50%
}
#footer #version {
    float: right;
    margin-right: 20px;
    font-size: 14px
}
#footer-wrapper {
    margin: 5px 0;
    overflow: hidden
}
.no-class {
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    text-align: center
}
@media screen and (max-width: 440px) {
    .contributer {
        width: 100%;
        margin: 0;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #fff;
        box-shadow: 0 0 0
    }
}
@media screen and (max-width: 280px) {
    #options img {
        margin: 0 0 0 3px
    }
}
